In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import geopandas as gpd
import matplotlib as plt
from shapely.geometry import Point, Polygon
from sklearn.cluster import DBSCAN
from shapely.ops import unary_union
import plotly.graph_objects as go
from shapely.geometry import MultiPoint, box
from plotly.subplots import make_subplots
from datetime import datetime
import seaborn as sns

In [7]:
df1 = pd.read_csv('./data/fire_archive_SV-C2_409232.csv')
df1['acq_date'] = pd.to_datetime(df1['acq_date'])
df1 = df1.sort_values(by=['acq_date', 'acq_time'], ascending=True)
df1.tail()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
260108,-27.415340,-70.260925,321.83,0.41,0.45,2022-08-31,518,N,VIIRS,n,1,282.26,1.44,N,2
260109,-36.182384,-70.924660,342.30,0.40,0.60,2022-08-31,1742,N,VIIRS,n,1,292.75,4.40,D,0
260110,-36.180378,-70.924461,330.96,0.40,0.60,2022-08-31,1742,N,VIIRS,n,1,294.31,4.41,D,0
260111,-22.317188,-68.883453,332.83,0.43,0.46,2022-08-31,1748,N,VIIRS,l,1,306.78,4.92,D,2
260112,-18.646139,-69.553741,335.64,0.43,0.46,2022-08-31,1748,N,VIIRS,n,1,306.21,0.65,D,0

In [8]:
df2 = pd.read_csv('./data/fire_nrt_SV-C2_409232.csv')
df2['acq_date'] = pd.to_datetime(df2['acq_date'])
df2 = df2.sort_values(by=['acq_date', 'acq_time'], ascending=True)
df2.tail()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight
63419,-27.05665,-69.91125,351.59,0.43,0.38,2023-12-11,1834,N,VIIRS,l,2.0NRT,327.11,3.53,D
63420,-27.05593,-69.90696,367.00,0.43,0.38,2023-12-11,1834,N,VIIRS,l,2.0NRT,326.54,3.53,D
63421,-25.51162,-70.16331,348.46,0.43,0.38,2023-12-11,1834,N,VIIRS,l,2.0NRT,322.46,2.74,D
63422,-25.50885,-70.16836,349.28,0.43,0.38,2023-12-11,1834,N,VIIRS,l,2.0NRT,321.32,2.74,D
63423,-25.50462,-70.16486,349.44,0.43,0.38,2023-12-11,1834,N,VIIRS,l,2.0NRT,321.80,2.21,D

In [11]:
max_date_a = df1['acq_date'].max()
max_date_b = df2['acq_date'].min()
max_date_a, max_date_b

(Timestamp('2022-08-31 00:00:00'), Timestamp('2022-09-01 00:00:00'))